{% assign config = collection.metafields.tb-filters.config.value %}



{% if config and config.mostrar %}
<div style="display:flex;">
  <form id="filters-form">
    {% for filtro in config.mostrar %}
      <fieldset id="fs-{{ filtro.key | escape }}">
        <legend>{{ filtro.label | default: filtro.key }}</legend>

        {%- comment -%}
        Aquí metemos las opciones (values) por JS después del fetch.
        {%- endcomment -%}
        <div class="options" data-key="{{ filtro.key | escape }}"></div>
      </fieldset>
    {% endfor %}
  </form>
{% endif %}


<div
              class="collection vista-mosaico{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
              {% if bloques %}
                style="display: none;"
              {% endif %}
            >
              <div class="loading-overlay gradient"></div>
              <ul
                id="product-grid-filters"
                data-id="{{ section.id }}"
                class="
                  grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
                  grid--{{ columns_desktop }}-col-desktop
                "
              >
                {%- for product in collection.products -%}
                  {%- unless product.tags contains 'HIDDEN' -%}
                    {% assign lazy_load = false %}
                    {%- if forloop.index > 2 -%}
                      {%- assign lazy_load = true -%}
                    {%- endif -%}
                    <li
                      class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                    >
                      {% render 'card-product',
                        card_product: product,
                        media_aspect_ratio: section.settings.image_ratio,
                        image_shape: section.settings.image_shape,
                        show_secondary_image: section.settings.show_secondary_image,
                        show_vendor: section.settings.show_vendor,
                        show_rating: section.settings.show_rating,
                        lazy_load: lazy_load,
                        show_quick_add: section.settings.enable_quick_add,
                        section_id: section.id,
                        compare_checkbox: settings.compare_products
                      %}
                    </li>
                  {%- endunless -%}
                {%- endfor -%}
              </ul>
            </div>

</div>


{% schema %}
{
  "name": "Product Filters Grid",
  "target": "section"
}
{% endschema %}
